#students {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.student {
  border: 1px solid black;
  width: fit-content;
  text-align: center;
  margin: 5px;
}

.student_opts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.studentName{

}

.classTime{
  font-size: small;
}

#signIn{
  position: fixed;
  top: 5%;
  left: 5%;
  width:90%;
  height: 90%;
  background-color: yellow;
  text-align: center;
}

.bigButton {
  width: 10em;
  height: 5em;
  background-color: lightgrey;
  border: 4px outset grey;
  border-radius: 10px;
}
.bigButton:hover {
  border: 4px inset grey;
}
.bigButtonTitle {
  font: small-caps 1.5em bold fantasy;
}
.bigButtonInfo {
  font: small-caps 1.1em bold fantasy;
}

#cancelSignInButton {
  width: 5em;
  height: 2em;
  background-color: lightgrey;
  border: 4px outset grey;
  border-radius: 10px;
  font: small-caps 1.2em bold fantasy;
}

.closeButton {
  position:fixed;
  right:5em;
  width: 5em;
  height: 2em;
  background-color: lightgrey;
  border: 4px outset grey;
  border-radius: 10px;
  font: small-caps 1.2em bold fantasy;
}

.iPadButton {
  width: 8em;
  height: 6em;
  background-color: white;
  border: 4px outset black;
  border-radius: 10px;
  padding-top:1em;

  transition-property: height;
  transition-duration: 1s;
}
.iPadWindow {
  width: 15em;
  height: 12em;
  background-color: white;
  border: 4px outset black;
  border-radius: 10px;
  padding-top:1em;

  transition-property: all;
  transition-duration: 1s;
}

.inventoryWindow {
  position: fixed;
  margin: auto;
  width: 90%;
  height: 90%;
  background-color: lightgreen;
  text-align: center;
}

.item {
  background-color: lightblue;
}

.messageWindow {
  position: fixed;
  margin: auto;
  width: 90%;
  height: 90%;
  background-color: lightpink;
  text-align: center;
  border: 1px solid black;
}
.message{
  position: fixed;
  margin: auto;
  width: 80%;
  top: 5em;
  left: 2em;
  font: small-caps 2em bold fantasy;
  border: 1px solid black;
}
